/* 
 * Base styles
 */
body {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}


/* 
 * Dialogs
 */
.dialog-menu {}

.dialog-menu>h1 {
    text-align: center;
}

.coords-input-menu-latlng {
    padding-bottom: 0.5em;
    align-items: center;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    grid-template-columns: auto 4em;
}

.coords-input-menu-latlng>div {
    display: flex;
    justify-content: space-between;
}

.coords-input-menu-latlng>div>div>input {
    margin-left: 0.5em;
    max-width: 8em;
}

.coords-input-menu-grid {
    align-items: center;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    grid-template-columns: 4em auto 4em;
}


/* 
 * Map layers
 */
.node {
    width: 0;
    height: 0;
}

.node-milsymbol {
    position: absolute;
    pointer-events: none;
}

.node-hitbox {
    position: absolute;
}